@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Arimo:ital,wght@0,400..700;1,400..700&family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto Flex";
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--tekst-svart);
}

:root {
    --bakgrunn-mork: #0d0221;
    --bakgrunn-lys: #EFF4FB;
    --logofarge: #1C5D99;
    --lyseblaa: #B8D0Eb;
    --tekst-hvit: white;
    --tekst-svart: black;
    --alice-blue: #EFF4FB;
    --nav-bar-mork: #142C3E;
    --searchbar-mork: #323649;
    --bakgrunn-artikler: #292D3D;
}

img {
    width: 100%;
}

#logoImg {
    height: 80px;
}

body {
    background-color: var(--alice-blue);
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--lyseblaa);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

#header-slutt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

#header-start {
    padding-left: 15px;
    width: fit-content;
}

input {
    width: 95%;
    height: 40px;
    border: none;
    outline: none;
}

#search {
    display: flex;
    justify-content: start;
    background-color: white;
    padding: 5px 0px 5px 10px;
    width: 60%;
    align-items: center;
}

i {
    font-size: 20px;
    cursor: pointer;
}

#search i {
    padding: 5px;
}

main {
    margin: auto;
    width: 900px;
    margin-top: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

article {
    background-color: white;
    grid-column: span 3;
    cursor: pointer;
    overflow-wrap: break-word;
}

article.large {
    grid-column: span 6;
}

article.medium {
    grid-column: span 3;
}

article.small {
    grid-column: span 2;
}

h1 {
    font-size: 57px;
    font-weight: 700;
}

article.medium h1,
article.small h1 {
    font-size: 37px;
}

h2 {
    font-size: 45px;
}


.tekst {
    padding: 15px;
}

.liste {
    margin-left: 44px;
    margin-bottom: 6px;
}

.dark-mode {
    background-color: var(--bakgrunn-mork);
    color: var(--tekst-hvit);
}

.dark-mode-header {
    background-color: var(--nav-bar-mork);
}

.dark-mode-searchbar{
    background-color: var(--searchbar-mork);
    color: var(--tekst-hvit);
}

.dark-mode-article{
    background-color: var(--bakgrunn-artikler);
    color: var(--tekst-hvit);
}


#dropdown-content {
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: var(--bakgrunn-lys);
    height: 100vh;
    top: 0;
    right: -350px;
    width: 350px;
    padding-top: 90px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    overflow-y: scroll;
    transition: right 0.4s ease;
}

.dropdown-content-show {
    right: 0 !important;
}

#dropdown-content::-webkit-scrollbar {
    width: 0px;
    background: transparent
}

#dropdown-content-valgt {
    width: 0px;
    height: 20px;
    background-color: transparent;
    border-radius: 20px;
    transition: all 0.4s ease;
    margin: 4px;
}

#dropdown-content-tekst {
    display: flex;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 500;
    color: var(--tekst-svart);
    cursor: pointer;
    flex-direction: row;
    align-items: center;
}

#dropdown-content-tekst:hover #dropdown-content-valgt {
    width: 5px;
    height: 20px;
    background-color: var(--logofarge);
    border-radius: 20px;
}

@media (width < 930px) {
    main {
        width: 97%;
    }

    h1 {
        font-size: 6vw;
    }

    article.medium h1,
    article.small h1 {
        font-size: 4vw;
    }
}

@media screen and (width < 600px) {
    main {
        width: 100%;
    }

    

    #header-slutt {
        width: 80%;
    }

    input {
        width: 60%;
    }
}