
main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px dashed black;
    width: 60%;
}

#info{
    border: 1px solid black;
    width: 30%;
    margin-top: 20px;
}

